$color-dark-bg: #219298;
$color-light-bg: #00e0d0;
$color-border: #c6c4c9;
$color-footer-bg: rgba(160, 153, 179, 0.60);

@mixin bg($img, $repeat: no-repeat, $type: png){
	background: url(#{$img}.#{$type}) $repeat center center;
	background-size: cover;
}
@mixin box-shadow($color-shadow){
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px $color-shadow;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px $color-shadow;
}
@mixin our-button ($color-btn, $padding-btn: 10){
	padding: $padding-btn + px;
	border: 1px solid $color-btn;
	background: none;
	color: $color-btn;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	&:hover{
		border: 1px solid darken($color-btn, 10);
		color: lighten($color-btn, 10);
		cursor:pointer;
	}
	&:focus{
		border: 1px solid lighten($color-btn, 10);
		color: lighten($color-btn, 5);
		border-color: #4195fc;
	    @include box-shadow($color-btn);
	}
}
@mixin subline ($bottom, $color-line: $color-border, $width-line: 50px){
	width: $width-line;
	border: 1px solid $color-line;
	position: absolute;
	bottom: $bottom;
	left: 50%;
	margin-left: -$width-line/2;
}
*{
	margin: 0;
	padding: 0;
}
*:focus {
    outline: none;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 22px;
}
h3{
	font-size: 14px; 
}
.button{
	@include our-button($color-light-bg);
}
.header{
	@include bg(img/bg-header);
	max-width: 1600px;
	min-width: 1000px;
}
.header__item{
	width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}
.nav-bar-header{
	min-height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav-header__list{
	list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-header__item:not(:last-child){
	margin-right: 20px;
}
.nav-header__link{
	font-size: 13px;
	text-decoration: none;
	color: white;
	&:not(.nav-header__link_active):hover{
		color: lighten($color-dark-bg, 30px);
	}
}
.nav-header__link_active{
	color: $color-dark-bg;
}
.main-header{
	min-height: 590px;
}
.main-header__slider{
    margin: auto;
}
.header-slider{
    width: -webkit-fill-available;
	.slick-arrow{
		display: none !important;
	}
	.slick-dots{
		position: absolute;
		bottom: -120px;
	    left: 50%;
        width: 65px;
		margin-left: -33px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    list-style-type: none;
	}
	.slick-dots li{
		width: 10px;
		height: 10px;
		margin: 0 2px;
		background: none;
		border: 1px solid $color-dark-bg;
		border-radius: 50%;
		&:hover{
			cursor:pointer;
		}
	}
	.slick-dots button{
		font-size: 0;
	    border: none;
	}
	li.slick-active{
		background: $color-dark-bg;
		border: 1px solid $color-dark-bg;
	}
}
.slide-header{
	text-align: center;
	color: white;
	width: 765px;
}
.slide-header__title{
	font-size: 32px;
	position: relative;
	margin-bottom: 50px;
	&::after{
		content: "";
		@include subline(-25px, $color-dark-bg);
	}
}
.slide-header__context{
	margin-bottom: 50px;
	font-size: 14px;
}
.slide-header__button{
	@include our-button($color-dark-bg);
}


.main{
	max-width: 1600px;
	min-width: 1000px;
}
.main__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.about__item{
	margin-top: 70px;
}
.our-content{
	width: 880px;
}
.our-content__left-picture{
	float: left;
}
.our-content__right-text{
	padding-left: 335px;
}
.our-content__title{
	margin-bottom:30px;
}
.our-content__text{
	margin-bottom:35px;
}
.our-video{
	@include bg(img/bg-video-about);
	min-height:550px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.play-video{
    text-align: center;
    &__img{
    	cursor:pointer;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		margin-bottom: 30px;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	&__text{
		cursor:pointer;
		color: white;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
	}
	&__text:hover{
		color: $color-dark-bg;
		& + .play-video__img{
			-webkit-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			        transform: scale(1.1);
		}
    }
    &__img:hover{
		-webkit-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		        transform: scale(1.1);
		& + .play-video__text{
			color: $color-dark-bg;
		}
    }
}
.expertise__container{
	text-align: center;
	width: 970px;
	padding: 70px 0;
}
.expertise__title,
.expertise__subtitle{
	text-align: center;
}
.expertise__title{
	margin-bottom: 10px;
}
.expertise__subtitle{
	margin-bottom: 70px;
	position: relative;
	&::after{
		content: "";
		@include subline (-20px);
	}
}
.blog-exp3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	&:not(:last-child){
		border-bottom: 1px solid $color-border;
	}
}
.blog-exp3__item{
	width: 260px;
	padding:30px;
	font-size: 14px;
	&:not(:last-child){
		border-right: 1px solid $color-border;
	}
	&:hover{
		@include box-shadow($color-border);
	}
}
.blog-exp3__title{
	margin: 35px 0 25px;
	font-family: 'Roboto', sans-serif;
}
.team{
	@include bg(img/bg-team);
	color: white;
}
.team__container{
	text-align: center;
	margin: 70px 10px;
}
.team__title{
	margin-bottom: 10px;
}
.team__subtitle{
	margin-bottom: 70px;
	position: relative;
	&::after{
		content: "";
		@include subline (-20px);
	}
}
.team__people{
	margin-bottom: 50px;
}
.team-people{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.team-people__item{
	width: 220px;
	border: 1px solid $color-border;
	margin: 10px;
	font-size: 14px;
	&:hover{
		@include box-shadow($color-border);
	}
}
.team-people__avatar{
	width: 100%;
	height: 230px;
	background: white;
	margin-bottom: 20px;
}
.team-people__text{
	font-size: 13px;
	margin: 5px 0 20px;
}
.team__text{
	font-size: 14px;
	margin: 20px 0; 
}
.works{
	padding: 30px;
}
.works-header{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.works-header__link{
	text-decoration: none;
	background: url(icon/arrow-left.png) no-repeat center right;
	padding-right: 20px;
	font-size: 14px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	color: #75737b;
}
.works__container{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 30px 0;
}
.works__item{
	width: 16.66%;
	min-height: 200px;
}
.work-{
	@for $i from 1 through 12{
		&#{$i}{
			background: darken(#b6b6b6, $i+$i);
			transition: all .5s;
			&:hover{
				transform: scale(1.02);
			}
		}
	}
}
.testimonials{
	@include bg(img/bg-testimonials);
	min-height:500px;
}
.testimonials__container{
	width: 780px;
	text-align: center;
	color: white;
}
.testimonials__title{
	font-size: 100px;
	margin-bottom: 40px;
	height: 50px;
	font-weight: initial;
}
.testimonials__subtitle{
	margin-bottom: 50px;
}
.title-slider__top-item{
	font-size:14px;
	margin-bottom: 10px;
}
.title-slider__bottom-item{
	font-size:13px;
	margin-bottom: 40px;
}
.testimonials__slider{
	margin: 0 auto 50px;
}
.testimonials-slider{
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .arrow{
		position:absolute;
		top:30%;
		background: url(icon/arrow-left.png) no-repeat center center;
		width: 10px;
		height: 15px;
		padding: 6px;
		border-radius: 5px;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		&:hover{
			cursor: pointer;
		}
    }
    .arrow-left{
		-webkit-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		        transform: rotate(180deg);
		left:-25px;
    }
    .arrow-right{
    	right:-25px;
    }
}
.testimonials-slider__slide{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 5px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; 
}
.testimonials-slider__slide_active{
	-webkit-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	        transform: scale(1.5);
	margin: 0 15px; 
}
.contact__container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 70px;
}
.form-contact__title{
	margin: 70px 0 35px; 
}
.contact__form{
	width: 450px;
	margin-right: 100px; 
}
.form-contact__input,
.form-contact__textarea{
	width: 90%;
	padding: 15px;
	margin-bottom: 25px;
	border: 1px solid $color-border;
	border-radius: 5px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	&:focus{
		border: 1px solid darken($color-border, 30px);
		-webkit-transform: scale(1.02);
		    -ms-transform: scale(1.02);
		        transform: scale(1.02);
	}
}
.form-contact__input{
	height: 10px;
}
.form-contact__textarea{
	height: 170px;
	min-width: 90%;
    max-width: 95%;
    max-height: 200px;
    min-height: 150px;
}
.client__title{
	margin: 80px 0 35px; 
}
.client-brands{
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.client-brands__brand{
	width: 40%;
	margin-bottom: 40px;
}
.client-brand__img{
	width: 100%;
}


.footer{
	@include bg(img/bg-footer);
	color: white;
	max-width: 1600px;
	min-width: 1000px;
}
.footer__item{
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 980px;
    margin: 0 auto;
}
.footer-main__info-company,
.footer-main__contact,
.footer-main__social-networks{
	margin: 70px 0 80px;
}
.info-company,
.contact-footer,
.social-networks-footer{
	width: 280px;
}
.footer-main__contact,
.footer-main__social-networks{
	margin-top: 85px;
}
.info-company__logo{
	margin-bottom: 20px;
}
.contact-footer__title,
.social-networks-footer__title{
	margin-bottom: 10px;
	font-size: 15px;
}
.contact-footer__map,
.contact-footer__call{
	margin: 25px 0;
	padding-left: 25px;
}
.contact-footer__map{
	background: url(icon/big104.png) no-repeat left top;
}
.contact-footer__call{
	background: url(icon/phone104.png) no-repeat left top;
}
.social-networks-footer__form{
	margin: 25px 0;
}
.form-mailing{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.form-mailing__input{
	padding: 15px;
	background: none;
	border: 1px solid $color-footer-bg;
	margin-right: 10px;
	color: white;
}
.form-mailing__button{
	height: 45px;
	padding: 10px 20px;
	background: $color-footer-bg;
	border: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	&:hover{
		cursor: pointer;
		-webkit-transform: scale(1.03);
		    -ms-transform: scale(1.03);
		        transform: scale(1.03);
	}
}
.form-mailing__img-button{
	height: 100%;
}
.social-media__link{
	margin-right: 7px;
}
.social-media__item:hover{
	background: $color-footer-bg;
	border-radius: 50%;
}
.footer-bottom__nav,
.footer-bottom__text{
	margin-bottom: 70px;
}
.nav-footer__list{
	width:300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style-type: none;
}
.nav-footer__link{
	text-decoration: none;
	color: white;
	&:hover{
		color: lighten($color-dark-bg, 30px);
	}
}



@media only screen and (max-width: 768px){
	.header,
	.main,
	.footer{
		max-width: 768px;
		min-width: 700px;
		margin: 0 auto;
	}
	.header__item {
    	width: 100%;
    }
    .blog-exp3__item {
    	width: 33%;
    }
    .team-people {
    	display: -webkit-inline-box;
    	display: -ms-inline-flexbox;
    	display: inline-flex;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    width: 485px;
    }
	.contact__container {
    	display: inline-block;
    }
    .contact__form{
    	margin: 0;
    }
    .client__title {
	    margin: 80px auto 35px;
	    width: -webkit-fit-content;
	    width: -moz-fit-content;
	    width: fit-content;
	}
	.client__brands {
		margin: 0 auto;
	}
	.footer__item {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-pack: space-evenly;
	        -ms-flex-pack: space-evenly;
	            justify-content: space-evenly;
	    width: 100%;
	}
	.info-company, 
	.contact-footer, 
	.social-networks-footer {
	    width: 300px;
	}
	.footer-main__social-networks{
        margin-top: 0; 
    }
}
@media only screen and (max-width: 320px){
	.header,
	.main,
	.footer{
		max-width: 320px;
    	min-width: 320px;
	}
	.nav-bar-header {
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
    	height: auto;
    	padding-top: 10px; 
    }
    .header__logo{
    	width: 100%;
	    text-align: center;
    }
    .nav-header__list {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.nav-header__item {
	    margin: 10px;
	}
	.header-slider .slick-dots {
	    right: 38%;
	}
	.title {
	    width: 100%;
	    text-align: center;
	}
	.our-content__left-picture {
	    display: none;
	}
	.our-content__right-text {
	    padding: 0 10px;
	    text-align: center;
	}
	.blog-exp3 {
	    display: inline-block;
	}
	.blog-exp3__item {
	    width: auto;
	}
	.blog-exp3__item:not(:last-child),
	.blog-exp3:not(:last-child),
	.blog-exp3__item{
		border: none;
	}
	.team-people {
    	display: inline-block;
    	width: auto;
    }
	.works-header {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	.works__container {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.works__item {
	    width: 45%;
	    height: 100px;
	}
	.testimonials__container {
	    width: 100%;
		margin: 0 10px;
	}
	.testimonials-slider__slide {
	    margin: 0 2px;
	}
	.testimonials-slider__slide_active {
	    -webkit-transform: scale(1.4);
	        -ms-transform: scale(1.4);
	            transform: scale(1.4);
	    margin: 0 12px;
	}
	.contact__form,
	.client__brands {
	    width: 80%;
	    margin: auto;
	    text-align: center;
	}
	.form-contact__input{
	    width: 65%;
	}
	.form-contact__textarea {
	    height: 170px;
	    min-width: 65%;
	    max-width: 65%;
	}
	.footer-main__info-company,
	.footer-main__contact, 
	.footer-main__social-networks{
		text-align: center;
	    margin: 30px 0 40px;
	}
	.form-mailing {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
}